@import url('https://fonts.googleapis.com/css2?family=Galada&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    background: linear-gradient(0deg, rgba(254,244,249,1) 0%, rgba(241,248,255,1) 100%);
}

.page-title {
    color: rgb(0, 0, 0);
    font-family: 'Galada', cursive;
    text-align: center;
    font-size: 3em;
    margin-block-end: 0;

}

.game-info-container {
    grid-column:  1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Quicksand', sans-serif;
    color: rgb(44, 12, 82);
    font-size: 1.5em;
    
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
  }

/* ------------- CARDS ------------- */

.card {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 5em;
    width: 5em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 300ms ease-in-out;

}

.card:hover {
    cursor: pointer;
}

.card-back {
  transform: rotateY(0);
}

.card-front {
transform: rotateY(-180deg);
}
  
.card.visible .card-back { /*change to .card:hover to check if it works*/
    transform: rotateY(-180deg);
  }
  
  .card.visible .card-front { /*change to .card:hover to check if it works*/
    transform: rotateY(0)
  } 

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
  }

.card-img {
    max-width: 5em;
    max-height: 5em;
}

.zoom {
    transition: transform .2s ease-in-out; 
  }
  
.zoom:hover {
    transform: scale(1.07);
}

  /* ------------- OVERLAYS ------------- */

  .overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: rgb(252, 36, 119);
    font-family: 'Galada', cursive;
  }
  
  .overlay-text-small {
    font-size: .3em;
  }
  
  .overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }
  
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 5em;
    }
  }